<!DOCTYPE html>
<html>
<head>
	<title>Add Product</title>
</head>
<body>
	<form method="post" action="../controller/addProdutCheck.php">
		<fieldset>
			<legend> <b>ADD PRODUCT</b> </legend>
			<table width="20%">
				<tr>
					<td>Name</td>
				</tr>
				<tr>
					<td><input type="text" name="name" value=""> </td>
				</tr>
				<tr>
					<td>Buying Price</td>
				</tr>
				<tr>
					<td><input type="text" name="buyPrice" value=""> </td>
				</tr>
				<tr>
					<td>Selling Price</td>
				</tr>
				<tr>
					<td><input type="text" name="sellPrice" value="">
					 <br>_____________________ </td>
				</tr>
				
				<tr>
					<td>
						<input type="checkbox" name="check"> Display
						  <br>_____________________ 
					</td>
				</tr>
				
				<tr>
					<td>
						<input type="submit" name="save" value="Save"> 
					</td>
				</tr>
			</table>
		</fieldset>
	</form>
</body>
</html>
